
body{
	background-color:grey;
	width:100%;
}

.filterInput{
	height:30px;
	width:92%;
	margin-left:5px;
	margin-top:5px;
	border-radius:5px;
	text-indent:3px;
	font-size:12pt;
}

.menulist{
	background-color:#fff;	
	width:20%;
	border-radius:5px;
}

.menulist li{
	cursor:pointer;
	list-style:none;
	height:28px;
	margin-left:-15px;
}

.amap{	
	width:78%;
	height:640px;
	margin-left:21%;
	margin-right:5%;
	margin-top:-270px;
	border-radius:5px;
}

@media screen and (max-width:800px){
	.menulist{
	   width:0%;
	   display:none;
	}
	.amap{
		width:100%;
		margin-top:5px;
		margin-left:5px;
		margin-right:5px;
	}
}

@media screen and (max-device-width:480px){
	.menulist{
	   width:0%;
	   display:none;
	}
	.amap{
		width:100%;
		margin-top:5px;
		margin-left:5px;
		margin-right:5px;
	}
}
